/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2019, 12:19:09 PM
    Author     : frontend
*/


/*

> 0px   XS - NO NAME


> 576px SM - small devices



> 768px MD  - medium devices


> 992px  LG    large devices



> 1200px  XL   extra large devices

*/



@media( min-width:576px){

.achievments .achievments-item h3{
    font-size:50px;
    
}
}




@media(min-width:768px){
    
    .lead-section .carousel-item{
        padding: 150px 0px;
    }
.lead-section .carousel-item .caption{
        width:53%;
    }
    .lead-section .carousel-item .caption h2{
        font-size:60px;
        line-height: 80px;
        letter-spacing: 1.99px;
    }
    
}


@media(min-width:992px){
    
    .navbar-light .navbar-nav .nav-link{
        
        border-bottom: 2px solid transparent;
        padding: 20px;
    }
    
    .lead-section .carousel-item{
        padding: 200px 0px;
    }
    
    .carousel-indicators{bottom:50px;}


}


@media(min-width:1200px){

    .container{
        max-width: 1170px;
    }
    .navbar-light .navbar-nav .nav-item{
        margin-left: 15px;
    }
.lead-section .carousel-item{
        padding: 250px 0px;
    }
}